.App {
  padding: 0;
  margin: 0;
}

.CommonCard{
  box-shadow: 0 0 5px 5px rgb(137, 71, 163);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}



.CommonCard:nth-child(1)>h1{
  text-align: center;
  color: rgb(210, 114, 248);
  font-weight: bolder;
}

.CommonCard:nth-child(1)>div{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}